APP_NAME=feedback-service
APP_PORT=8080
AMQ_BROKER_URL=tcp://localhost:61616
AMQ_USER=mq
AMQ_PASSWORD=mq

# mysql
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/feedbacks_store?createDatabaseIfNotExist=true
SPRING_SQL_INIT_PLATFORM=root
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=feedbacks
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQL8Dialect


FEEDBACK_QUEUE_NAME=feedback-queue