APP_NAME=cocktail-service
APP_PORT=8080
COCKTAILDB_BASE_URL=https://www.thecocktaildb.com/api/json/v1/1/
COCKTAILDB_SEARCH_URL=search.php?s={name}
COCKTAILDB_RANDOM_URL=random.php
ACTIVEMQ_URL=tcp://localhost:61616
ACTIVEMQ_USER=mq
ACTIVEMQ_PASSWORD=mq
FEEDBACK_QUEUE_NAME=feedback-queue
FEEDBACK_SERVICE_BASE_URL=http://localhost:8081
FEEDBACK_SERVICE_ROUTE=/feedback/{id}